
<div class="px-20 home-container w-full">

<!--  Carousel -->
 <div class="carousel-container  " >
   <app-carousel ></app-carousel>
 </div>

<!--  Featured Product-->
  <div class="mt-4 featured-product-container  scrollable-content-horizontal">
    <h4 class="text-2xl font-bold">Featured Products</h4>
    <div class=" flex  gap-2 " >
      @for (product of featuredProducts; track $index) {
        <div >
        <app-product-card [product]="product"></app-product-card>
        </div>
      }

    </div>
  </div>

<!--  New Product -->

  <div class="mt-4 new-product-container  scrollable-content-horizontal" >
    <h4 class="text-2xl font-bold">New Products</h4>
    <div class="flex  gap-2 ">
      @for (product of newProducts; track $index) {
        <app-product-card [product]="product"></app-product-card>
      }

    </div>
  </div>

</div>

