<owl-carousel-o [options]="customOptions">
<!--  <ng-template carouselSlide><img src="assets/first.jpeg" alt="" height="518" width="1800"></ng-template>-->
  <ng-template carouselSlide><img src="assets/second.jpeg" alt="" height="168" width="1010"></ng-template>
  <ng-template carouselSlide><img src="assets/third.jpeg" alt="" height="168" width="1010"></ng-template>
  <ng-template carouselSlide><img src="assets/forth.png" alt="" height="168" width="1010"></ng-template>

  <ng-template carouselSlide><img src="assets/6.jpeg" alt="" height="168" width="1010"></ng-template>
  <ng-template carouselSlide><img src="assets/7.jpeg" alt="" height="168" width="1010"></ng-template>

</owl-carousel-o>
