

<h1 class="text-3xl">Admin Management Section: </h1>
<div class="m-2">

  <div class="dropdown" dropdown>
    <button id="dropdownBasic1" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"> Manage Item
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="dropdownBasic1">
      <li role="menuitem"><a class="dropdown-item" routerLink="/admin/categories">Manage Category</a></li>
      <li role="menuitem"><a class="dropdown-item"  routerLink="/admin/product">Manage Products</a></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="/admin/brands">Manage Brands</a></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a></li>
    </ul>
  </div>

</div>
